@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import './bootstrap.min.css';
@import '~ed-grid/ed-grid';
@import '~edteam-style-guides/edteam-style-guides';

//materialize-css override




// Edteam-styles override


.nav-list > li {
    text-align: center;
    transition: all .3s ease;
    &:hover{
        text-shadow: 0 0 1px rgb(122, 122, 122);
    }
   
}

.main-menu .active {
    &.active{
        color: rgb(44, 44, 44);
        font-weight: 600;

        @media screen and (max-width:1200px){
            color: rgb(106, 209, 124);
            font-weight: normal;
        }
    }

    &.show{
        top:4.5rem !important;
    }

    
    
}

.main-banner.home{
    background: rgb(52, 66, 58);
    opacity: 2;
    height: calc(65vh - 4rem);
}


.main-banner__data{
    height: 2rem;
} 

.lg-cross-center > li:last-child {
    border: none;
}



// My Styles

body{

    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px !important;     /* Tamaño del scroll en vertical */
        height: 8px !important;    /* Tamaño del scroll en horizontal */
    }

    &::-webkit-scrollbar-track{
        background: rgb(102, 102, 102);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);

        &:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
    
        &:active {
            background-color: #999999;
        }
    }
}

.logo-container{
    justify-content: center;
    position: relative;
    
}
.logo-container > .hero-logo{
    height: 4rem !important;
    width: auto !important;
    position: relative ;
    
}

.list-item{
    &:first-child{
        margin-left: 0;
    }
}

.main-header {
    
    &> .main-header__menu{
    height: 100%;
    }
}


.menu-ed-grid{
    grid-template-columns: max-content 1fr;
}

.main-header__menu{
    grid-template-columns: max-content 1fr;
    height: 4rem;
    @media screen and (max-width:1200px) {
        height: 3rem;
    }
    
}

.main-menu-content{
    @media screen and (max-width: 1024px) {
        display: block !important;
        text-align: center;
        
    }
}

.logout{
    &.main{
        display: none;
        @media screen and (max-width: 1024px) {
           display: list-item;
        }
    }

    &.login{
        display: block;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}



.menu-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    color: rgb(44, 44, 44);
    @media screen and (max-width:1200px) {
        height: 3rem;
    }
    &.container{
        & > .div-link{
            &:hover{
                text-shadow: 0 0 1px rgb(122, 122, 122);
            }

        }
    }
}

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-container{
    display: inline;
}

.cart-counter{
    display: inline-flex;
    position: relative;
    background: rgb(0, 255, 149);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(39, 39, 39);
    bottom: .5rem;
    right: .5rem;
}

.user-info{
    height: 2rem;
    & > a {
        color: rgb(31, 31, 31);
        text-decoration: none;
        &:hover{
            text-shadow: 0 0 1px rgb(122, 122, 122);
        }
    }
}

.logged-toggle{
    display: none;
    width: 32px;
    margin-right: 1rem;
    cursor: pointer;
    @media screen and (max-width:1024px) {
        display: block;
    }
}

.menu-toggle{
    content: "";
    $color      : rgb(122, 120, 120);
    width       : 1.7rem;
    height      : 1.3rem;
    background  : linear-gradient($color 20%, transparent 20%, 
                transparent 40%, $color 40%, 
                $color 60%, transparent 60%, 
                transparent 80%, $color 80%);
    cursor      : pointer;

    @media screen and (max-width:1024px) {
        display: block;
    }
    
}

    
.card {
    box-shadow: 0 0 8px rgb(206, 204, 204);

    &.course {
        box-shadow: none ;

        &:hover{
            box-shadow: none;
        }
    }

    &:hover{
        box-shadow: 0 0 8px rgb(141, 141, 141);
    }


}

.card-button{
    border: none;
    background-color: rgb(14, 115, 187);
}


.class-list {

    padding: 0;
    margin: 0;
    
    & > li {
        font-size: .9rem;
        list-style: none;
        padding-bottom: .6rem;
    }

    & > a{
        color: rgb(230, 230, 230);

        & > li{
            text-decoration: none;
        }
        
    }
}

.courses-banner {
    

    & > img{
        opacity: 1 !important;
    }
}

.page-body{
    background-color: #282D31;
    height: calc(100vh - 4.5rem);

    &.dashboard{
        background: rgb(248, 248, 248);
        height: calc(100vh - 19.5rem);
    }

    @media screen and (max-width:1024px) {
        height: 100%;
        
    }

    
}



.class-container{
    border-radius: 5px;
    background: rgb(36, 41, 39);
    padding: .7rem .7rem 0;
    height: 32.7rem;
    overflow-y: auto;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
        background: rgb(128, 128, 128);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);

        &:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
    
        &:active {
            background-color: #999999;
        }
    }

    
   
}

.class-card{
    box-shadow: none;
    background: rgb(45, 58, 54);
    color: rgb(204, 197, 197);
    border-radius: 5px !important;
    margin-bottom: .7rem;
    
    &:hover{
        box-shadow: none;
    }
}

.video-info{
    color: rgb(224, 221, 221);
}

.class-grid{
    max-width: 1410px;
}

.toast{
    display: none;
    transition: all .3s ease;
    z-index: 100;
    margin: .1rem;
    
    &.show{
        display: block;
        position: absolute;
        
    }

    &.menu{
        top: 3.5rem;
        right: 10rem;

    }


    &.error{
        bottom: -1rem;
        left: .6rem;
        color: rgb(245, 100, 100);
    }
}

.div-link{
    cursor: pointer;
}

.logged-avatar{
    height: 100%;
    border-radius: 50%;
}

//dashboard
.dashboard-container{
    max-width: 1400px;
}


.content-panel{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
    color: rgb(66, 66, 66);
    padding: 2.5rem 1rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 3px rgba(49, 49, 49, 0.438);
    top: -5rem;
    height: fit-content;
    width: calc(100% + 1rem);

    &.course{
        padding: 0;
        margin: 0;
        box-shadow: none;
        background: none;
        top: -13rem;
        @media screen and (max-width:1200px){
            display: none;
        }

        &.small-card{
            display:none;
            @media screen and (max-width:1200px){
                top: -1.5rem;
                display: block;
            }
        }

    }
    
}

.country-flag{
    height: 1rem;
    margin-bottom: .2rem;
}

.dasboard-avatar-container{
    height: 8rem;
    margin-bottom: .5rem;
}


.courses-panel{
    position: relative;
    margin-right: 1.5rem;
    margin-left: 3rem;
    & > p{
        color: rgb(39, 39, 39);
    }
}

.utility-list{
    & > li{
        list-style: none;
        margin-bottom: 1rem;
        cursor: pointer;
    }
}

//Course

.course-banner{
    height: 18rem;
    padding: 2rem;

    & > .ed-grid{
        max-width: 1250px;
    }

}

.course-content{
    max-width: 1250px;
    color: #212221;

    @media screen and (max-width:1200px){
        margin: 0 .5rem;
    }

}

.course-data{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-top: 1rem;

}
.cart-button{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
}

.shopping-cart{
    width: 18px;
}

.class-link{
    
    color: #5e5d5d;

    &.fragment{
        color: rgb(206, 206, 206);

        &.active{
            color: rgb(73, 238, 32);

            &:hover{
                color: rgb(73, 238, 32); ;
            }
        }
        &:hover{
            color: rgb(185, 185, 185);
        }
    }
    &:hover{
        text-decoration: none;
        color: #000000;
    }
}

.classes-group{
    display: flex;
    flex-direction: column;
}

.section-title{
    margin-bottom: .9rem;
    font-size: 1.1rem;

}

.class-title{
    margin-left: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: .95rem;
    border-bottom: 1px solid rgb(209, 208, 208);

    &:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }

}

// edit profile

.input{
    border: 1px solid #ced4da;
    &:focus {
        border: 1.5px solid #4d90fe;
        box-shadow: none;
    }
    &.options{
        border: 1px solid #ced4da;
        height: 2.2rem;
    }
    }

.alert{

    display: flex;
    position: absolute;
    opacity: .8;
    width: 50%;
}

.avatar-container{
    display: flex;
    background: beige;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.img-circle{
    display: flex;
    position: relative;
    height: 8rem;
    
    
}
.file-input {
    position: absolute;
    bottom: -1rem;
    &>.input{
        width: 8rem;
        height: 2rem;
        border: none;
        cursor: pointer;
        &:focus{
            outline: none;
        }
       
        &::-webkit-file-upload-button{
            visibility: hidden;
        }
    }
    
}

.camera{
    background: black;
    display: flex;
    position: absolute;
    opacity: .7;
    width: 8rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    bottom: 0;
    
}

//Cart page

.cart-card{
    background: #fdfdfe;
    padding: 1rem;
    border: 1px solid rgb(201, 199, 199);
    border-bottom: none;

    &:first-child{
        border: 1px solid rgb(201, 199, 199);
        border-radius: .3rem .3rem 0 0;
        border-bottom: none;
    }
}

.cart-footer{
    padding: 1rem;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 0 0 .3rem .3rem;
    background: #f0f0ff;
}

//Pagina de transaccion
.tx-container{
    border: 1px solid black;
    margin-top: 1.5rem;
    padding: 1rem 2rem ;
    overflow-wrap: break-word;
}

.tx-item{
    margin: 0;
    padding: 0;
    color: rgb(32, 32, 32);
    margin-bottom: 1rem;
    font-size: .9rem;
    &:last-child{
        font-weight: bold;
    }
}

.main-logo.tx-logo{
    width: 8rem;
    height: auto;
    margin-bottom: 1rem;
}

//Day picker styles
.react-datepicker__input-container{
    border: none;
    &>input{
        border: 1px solid #ced4da;
        border-radius: .25rem;
        height: 2.2rem;
        box-shadow: none;
        &:focus{
            border: 1px solid #ced4da !important;
            box-shadow: 0 0 2px #4d90fe;;
        }
    }
    
    

}

.react-datepicker-popper{
    transform: none !important;
    top: inherit !important;
    left: inherit !important;
    height: 5rem !important;
    margin-top: 0 !important;

}

.react-datepicker{
    overflow: hidden;
    height: 19.5rem;
    
}

.react-datepicker__month-select{
    width: 8rem;
    margin: 0 .5rem;
}

.react-datepicker__year-select{
    width: 6rem;
    margin-right: .5rem;
}