@import '~ed-grid/ed-grid';
@import '~edteam-style-guides/edteam-style-guides';


//materialize-css override




// Edteam-styles override


.nav-list > li {
    text-align: center;
    transition: all .3s ease;
   
}

.main-menu .active {
    &.active{
        color: rgba(65, 230, 100, 0.801);
    }

    &.show{
        top:4.5rem !important;
    }
    
}

.main-banner.home{
    background: rgb(52, 66, 58);
    opacity: 2;
    height: calc(80vh - 4rem);
}


.main-banner__data{
    height: 2rem;
} 

.lg-cross-center > li:last-child {
    border: none;
}



// My Styles

body{

    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px !important;     /* Tamaño del scroll en vertical */
        height: 8px !important;    /* Tamaño del scroll en horizontal */
    }

    &::-webkit-scrollbar-track{
        background: rgb(102, 102, 102);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);

        &:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
    
        &:active {
            background-color: #999999;
        }
    }
}

.logo-container{
    justify-content: center;
    position: relative;
    
}
.logo-container > .hero-logo{
    height: 4rem !important;
    width: auto !important;
    position: relative ;
    
}

.list-item{
    &:first-child{
        margin-left: 0;
    }
}

.main-header > .main-header__menu{
    height: 100%;
}

.menu-ed-grid{
    grid-template-columns: max-content 1fr;
}

.main-header__menu{
    grid-template-columns: max-content 1fr;
    
}

.main-menu-content{
    @media screen and (max-width: 1024px) {
        display: block !important;
        text-align: center;
        
    }
}

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logged-toggle{
    display: none;
    width: 32px;
    margin-right: 1rem;
    cursor: pointer;
    @media screen and (max-width:1024px) {
        display: block;
    }
}

.menu-toggle{
    content: "";
    $color      : rgb(122, 120, 120);
    width       : 1.7rem;
    height      : 1.3rem;
    background  : linear-gradient($color 20%, transparent 20%, 
                transparent 40%, $color 40%, 
                $color 60%, transparent 60%, 
                transparent 80%, $color 80%);
    cursor      : pointer;

    @media screen and (max-width:1024px) {
        display: block;
    }
    
}

    
.card {
    box-shadow: 0 0 8px rgb(206, 204, 204);
    &:hover{
        box-shadow: 0 0 8px rgb(141, 141, 141);
    }

}


.class-list {

    padding: 0;
    margin: 0;
    
    & > li {
        font-size: .9rem;
        list-style: none;
        padding-bottom: .6rem;
    }
}

.course-banner {
    

    & > img{
        opacity: 1 !important;
    }
}

.page-body{
    background: rgb(47, 56, 53);
    height: calc(100vh - 4.5rem);

    &.dashboard{
        background: rgb(248, 248, 248);
        height: calc(100vh - 19.5rem);
    }

    @media screen and (max-width:1024px) {
        height: 100%;
        
    }

    
}

.class-container{
    border-radius: 5px;
    background: rgb(36, 41, 39);
    padding: .7rem .7rem 0;
    height: 32.7rem;
    overflow-y: auto;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
        background: rgb(128, 128, 128);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);

        &:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
    
        &:active {
            background-color: #999999;
        }
    }

    
   
}

.class-card{
    box-shadow: none;
    background: rgb(45, 58, 54);
    color: rgb(204, 197, 197);
    border-radius: 5px !important;
    margin-bottom: .7rem;
    
    &:hover{
        box-shadow: none;
    }
}

.video-info{
    color: rgb(224, 221, 221);
}

.class-grid{
    max-width: 1410px;
}

.toast{
    display: none;
    transition: all .3s ease;
    z-index: 100;
    margin: .1rem;
    
    &.show{
        display: block;
        position: absolute;
        
    }

    &.menu{
        top: 3.5rem;
        right: 10rem;

    }


    &.error{
        bottom: -1rem;
        left: .6rem;
        color: rgb(245, 100, 100);
    }
}

.div-link{
    cursor: pointer;
}

.logged-avatar{
    margin-left: .5rem;
    width: 32px;
}

//dashboard
.dashboard-container{
    max-width: 1400px;
}

.user-panel{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(240, 240, 240);
    color: rgb(66, 66, 66);
    padding: 2.5rem 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(109, 109, 109, 0.438);
    top: -5rem;
    height: fit-content;
    width: calc(100% + 1rem);
    
}

.dashboard-avatar{
    width: 80px;
}

.courses-panel{
    position: relative;
    margin-right: 1.5rem;
    margin-left: 3rem;
    & > p{
        color: rgb(39, 39, 39);
    }
}

.utility-list{
    & > li{
        list-style: none;
        margin-bottom: 1rem;
        cursor: pointer;
    }
}
